src/main/resources/debitcompleted.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.howtodoinjava.com/xml/school"
           targetNamespace="https://www.howtodoinjava.com/xml/school" elementFormDefault="qualified">

    <xs:element name="StudentDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="StudentDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Student">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="standard" type="xs:int"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="receiveinfo">
        <xs:sequence>
            <xs:element name="fromfri" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>




<!--    <xs:element name="debitcompletedrequest">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="transactionid" type="xs:string"/>-->
<!--                <xs:element name="externaltransactionid" type="xs:string"/>-->
<!--                <xs:element name="receiverinfo" type="tns:receiveinfo"/>-->
<!--                <xs:element name="status" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

<!--    <xs:element name="debitcompletedresponse">-->
<!--        <xs:complexType>-->
<!--            <xs:sequence>-->
<!--                <xs:element name="status" type="xs:string"/>-->
<!--                <xs:element name="message" type="xs:string"/>-->
<!--                <xs:element name="transactionid" type="xs:string"/>-->
<!--            </xs:sequence>-->
<!--        </xs:complexType>-->
<!--    </xs:element>-->

</xs:schema>